@font-face {
    font-family: 'Neue regular';
    src: url('../fonts/NeueMontreal-Regular.otf');
}
* {
    box-sizing: none;
    border: 0; padding: 0; margin: 0;
}
.hero {
    background: black; color: white;
    width: 100%; height: 100vh; top: 0;
    position: relative; left: 0; padding: 0;
    display: flex; flex-direction: column; justify-content: center;
}
.hero__inner {
    width: 90%;
    margin-left: auto; margin-right: auto;
}
.hero__text {
    width: 100%;
    flex-wrap: wrap;
    font-family: 'Neue regular';
    display: flex;
    font-size: 32px;
    margin-bottom: 30px;
    pointer-events: none;
}
.hero__text div {
    margin-right: 7px;
}
.hero__contact {
    font-family: 'Neue regular';
    h2 {font-size: 32px;font-weight: 400;}
    display: flex; gap: 15px;
    align-items: center;
}
.hero__contact div {
    border-radius: 50%;
    border: 1px solid white;
    display: flex; justify-content: center; align-items: center;
    width: 50px; height: 50px;
    background: black;
}
@keyframes move {
    0% {
        transform: translateX(0)
    }
    60% {
        transform: translateX(5px)
    }
}
#arrow {
    animation: move 1s linear infinite;
    pointer-events: none;
}
.hero__circle:hover {
    mix-blend-mode: difference;
    background: white;
    transform: scale(1.25);
    transition: all 0.2s ease;
}
@media (min-width: 1000px) {
    .hero__inner {
        max-width: 800px;
    }
}